<table>
	<tr>
		<td>
			<google-chart [chartType]="'LineChart'" [dataPromise]="dataMap['LINE_DATA']" [options]="dataMap['LINE_OPTIONS']"  ></google-chart>			
		</td>
		<td>
			<google-chart [chartType]="'ScatterChart'" [dataPromise]="dataMap['SCATTER_DATA']" [options]="dataMap['SCATTER_OPTIONS']"  ></google-chart>			
		</td>
		<td>
			<google-chart [chartType]="'AreaChart'" [dataPromise]="dataMap['AREA_DATA']" [options]="dataMap['AREA_OPTIONS']"  ></google-chart>			
		</td>
	</tr>
	<tr>
		<td>
			<google-chart [chartType]="'BarChart'" [dataPromise]="dataMap['BAR_DATA']" [options]="dataMap['BAR_OPTIONS']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'BubbleChart'" [dataPromise]="dataMap['BUBBLE_DATA']" [options]="dataMap['BUBBLE_OPTIONS']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'CandlestickChart'" [dataPromise]="dataMap['CANDLE_DATA']" [options]="dataMap['CANDLE_OPTIONS']" [config] ="dataMap['CANDLE_CONFIG']"  ></google-chart>
		</td>
	</tr>
	<tr>
		<td>
			<google-chart [chartType]="'ColumnChart'" [dataPromise]="dataMap['COLUMN_DATA']" [options]="dataMap['COLUMN_OPTIONS']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'ComboChart'" [dataPromise]="dataMap['COMBO_DATA']" [options]="dataMap['COMBO_OPTIONS']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'PieChart'" [dataPromise]="dataMap['PIE_DATA']" [options]="dataMap['PIE_OPTIONS']"  ></google-chart>
		</td>		
	</tr>
	
	<tr>
		<td>
			<google-chart [chartType]="'Gantt'" [dataPromise]="dataMap['GANTT_DATA']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'Gauge'" [dataPromise]="dataMap['GAUGE_DATA']" [options]="dataMap['GAUGE_OPTIONS']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'Histogram'" [dataPromise]="dataMap['HISTOGRAM_DATA']" [options]="dataMap['HISTOGRAM_OPTIONS']"  ></google-chart>
		</td>
	</tr>
	<tr>
		<td>
			<google-chart [chartType]="'OrgChart'" [dataPromise]="dataMap['ORG_DATA']"   [options] ="dataMap['ORG_OPTIONS']"></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'Sankey'" [dataPromise]="dataMap['SANKEY_DATA']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'SteppedAreaChart'" [dataPromise]="dataMap['STEPPEDAREA_DATA']"   [options] ="dataMap['STEPPEDAREA_OPTIONS']"></google-chart>
		</td>
	</tr>
	<tr>
		<td>
			<google-chart [chartType]="'Timeline'" [dataPromise]="dataMap['TIMELINE_DATA']"></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'TreeMap'" [dataPromise]="dataMap['TREEMAP_DATA']"   [options] ="dataMap['TREEMAP_OPTIONS']"></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'WordTree'" [dataPromise]="dataMap['WORDTREE_DATA']"   [options] ="dataMap['WORDTREE_OPTIONS']"></google-chart>
		</td>
	</tr>
	<tr>
		<td>
			<google-chart [chartType]="'GeoChart'" [dataPromise]="dataMap['GEO_DATA']"  ></google-chart>
		</td>
		<td>
			<google-chart [chartType]="'Table'" [dataPromise]="dataMap['TABLE_DATA']"   [options] ="dataMap['TABLE_OPTIONS']"></google-chart>
		</td>
	</tr>
	
</table>









































<!-- 

<google-chart [chartType]="'Calendar'" [dataPromise]="dataMap['CALENDAR_DATA']" [options]="dataMap['CALENDAR_OPTIONS']"  ></google-chart> 

<google-chart [chartType]="'Map'" [dataPromise]="dataMap['MAP_DATA']" [options]="dataMap['MAP_OPTIONS']"  ></google-chart> 

-->